@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Unbounded:wght@900&display=swap');


:root {
    --primary: #228B22;
    --primary-dark: #006400;
    --black: #000000;
    --gray-1: #788190;
    --gray-2: #d3d4db;
    --white: #ffffff;
    --body: #fefefe;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    /* font-family: 'Unbounded', cursive; */
    background-color: var(--body);
}

/* Button */
.btn {
    border-radius: 8px;
}

.btn-primary,
.btn-outline-secondary {
    padding: 12px 20px;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary-dark);
}

.btn-outline-secondary{
    border: 1px solid --gray-2;
    color: var(--black);
}

.btn-outline-secondary:hover {
    background-color: var(--gray-2);
    border: 1px solid var(--gray-2);
    color: var(--black);
}

/* Navbar */
.navbar .btn-outline-secondary{
    border: 1px solid var(--gray-2);
    color: var(--black);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 16px;
}   

.navbar {
    padding: 32px 0;
}

.nav-link {
    margin-left: 41px;
    font-size: 14px;
    color: var(--gray-1);
}

.navbar-nav .nav-link:active {
    font-weight: bold;
    color: var(--black);
}

/* Landing section */
section.landing {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.landing .text h1{
    font-family: 'Unbounded', cursive;
    font-weight: bold;
    font-size: 110px;
    line-height: 120px;
    color: var(--black)
}

section.landing .text {
    font-weight: 800;
    font-size: 48px;
    line-height: 73px;
    color: var(--black)
}

.buttons {
    padding-top: 30px;
    padding-bottom: 30px;
}

section.landing .container {
    padding-top: 100px;
}

.buttons .btn {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

section.landing .howitworks {
    padding-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.landing img {
    width: 900px;
}

section.landing .scroll-down {
    transform: translate(-50%, -50%);
    height: 50px;
    width: 80px;
    position: absolute;
    padding-bottom: 40px;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
}

section.landing .scroll-down::before,
section.landing .scroll-down::after {
    content: '';
    position: absolute;
    left: 50%;
    border: 3px solid var(--primary);
    height: 40px;
    width: 40px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

section.landing .scroll-down::after {
    top: 30%;
    animation-delay: .3s;
}

@keyframes scroll-down {
    0%{
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 90%;
    }
}

/* Setup */
section.setup {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* div.container {
    justify-content: center;
}

section.setup .text-header {
    width: 600px;
} */

section.setup .next {
    padding-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.setup .scroll-down {
    transform: translate(-50%, -50%);
    height: 50px;
    width: 80px;
    position: absolute;
    padding-bottom: 40px;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
}

section.setup .scroll-down::before,
section.setup .scroll-down::after {
    content: '';
    position: absolute;
    left: 50%;
    border: 3px solid var(--primary);
    height: 40px;
    width: 40px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

section.setup .scroll-down::after {
    top: 30%;
    animation-delay: .3s;
}

@keyframes scroll-down {
    0%{
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 90%;
    }
}

section.setup .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

section.setup .icons img {
    width: 100px;
}

section.setup .text-header h2{
    font-family: 'Unbounded', cursive;
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: var(--black);
}

section.setup .text-header p {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: center;
    color: var(--gray-1);
}

section.setup h5{
    font-family: 'Unbounded', cursive;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--black);
    padding-bottom: 5px;
}

section.setup .desc p {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: var(grey-1);
    max-width: 284px;
    margin: 0 auto;
}

section.setup .row {
    padding-bottom: 20px;
}

/* Information ssection */
section.information .text-information {
    padding: 134px 0;
}

section.information .text-information h2{
    font-family: 'Unbounded', cursive;
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: var(--black);
}

section.information p {
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: var(--gray-1);
    padding: 27px 0;
}

section.information img {
    width: 600px;
}

section.information .info-1 {
    padding: 80px 0;
}

/* Footer */
footer {
    padding-top: 279px;
    margin-bottom: 14px;
    color: var(--black);
    line-height: 18px;
}

footer .copy {
    margin-top: 32px;
    font-size: 14px;
    color: var(--black);
    line-height: 17px;
    font-weight: 400;
}

/* Responsive section */
@media (max-width: 576px) {
    /* landing section */
    section.landing,
    section.setup,
    section.information {
        text-align: center;
    }

    .buttons .btn {
        display: block;
        margin: 1rem 0;
    }

    .buttons .ms-3 {
        margin-left: 0 !important;
    }

}

input[type="checkbox"] {
    display:none;
}

.slider {
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.slider input[type="range"] {
    width: 75%;
}

.slider p{
    font-size:30px;
}

.jakarta {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.unbounded {
    font-family: 'Unbounded';
}