@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Unbounded:wght@900&display=swap%27');

input[type="checkbox"] {
    display:none;
}

.slider {
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.slider input[type="range"] {
    width: 75%;
}

.slider p{
    font-size:30px;
}

.jakarta {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.unbounded {
    font-family: 'Unbounded';
}