<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Form Submission</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href=""> -->
</head>

<body>
    <form method="POST" action="{{ url_for('submit_form') }}">
        <div id="sector-form">
            <fieldset name="sectors">
                <legend>What sectors would you like to invest in?</legend>

                <input type="checkbox" name="sectors" id="IT" value="Information Technology">
                <label for="IT">Information Technology</label><br>

                <input type="checkbox" name="sectors" id="HC" value="Health Care">
                <label for="HC">Health Care</label><br>

                <input type="checkbox" name="sectors" id="FIN" value="Financials">
                <label for="FIN">Financials</label><br>

                <input type="checkbox" name="sectors" id="CD" value="Consumer Discretionary">
                <label for="CD">Consumer Discretionary</label><br>

                <input type="checkbox" name="sectors" id="CS" value="Communication Services">
                <label for="CS">Communication Services</label><br>

                <input type="checkbox" name="sectors" id="IND" value="Industrial">
                <label for="IND">Industrial</label><br>

                <input type="checkbox" name="sectors" id="STAP" value="Consumer Staples">
                <label for="STAP">Consumer Staples</label><br>

                <input type="checkbox" name="sectors" id="ENE" value="Energy">
                <label for="ENE">Energy</label><br>

                <input type="checkbox" name="sectors" id="UTIL" value="Utilities">
                <label for="UTIL">Utilities</label><br>

                <input type="checkbox" name="sectors" id="RE" value="Real Estate">
                <label for="RE">Real Estate</label><br>

                <input type="checkbox" name="sectors" id="MAT" value="Materials">
                <label for="MAT">Materials</label><br>
            </fieldset>
        </div>

        <!-- Environment -->
        <div id="environment">
            <label for="environment-slider">How much do you value environmental consciousness on a scale from 1 to
                10?</label>
            <input type="range" id="environment-slider" name="environment" min="1" max="10" step="1"
                oninput="updateSliderValue('environment-slider', 'environment-value')">
            <p id="environment-value">5</p>
        </div>

        <!-- Social -->
        <div id="social">
            <label for="social-slider">How much do you value social responsibility on a scale from 1 to 10?</label>
            <input type="range" id="social-slider" name="social" min="1" max="10" step="1"
                oninput="updateSliderValue('social-slider', 'social-value')">
            <p id="social-value">5</p>
        </div>

        <!-- Governance -->
        <div id="governance">
            <label for="governance-slider">How much do you value strong governance on a scale from 1 to 10?</label>
            <input type="range" id="governance-slider" name="governance" min="1" max="10" step="1"
                oninput="updateSliderValue('governance-slider', 'governance-value')">
            <p id="governance-value">5</p>
        </div>

        <!-- Controversy -->
        <div id="controversy">
            <label for="controversy-slider">How much do you care about a company's negative press on a scale from 1 to
                10?</label>
            <input type="range" id="controversy-slider" name="controversy" min="1" max="10" step="1"
                oninput="updateSliderValue('controversy-slider', 'controversy-value')">
            <p id="controversy-value">5</p>
        </div>

        <!-- Gender Diversity -->
        <div id="gender-diversity">
            <label for="gender-diversity-slider">How much do you value gender diversity in a company on a scale from 1
                to
                10?</label>
            <input type="range" id="gender-diversity-slider" name="gender_diversity" min="1" max="10" step="1"
                oninput="updateSliderValue('gender-diversity-slider', 'gender-diversity-value')">
            <p id="gender-diversity-value">5</p>
        </div>

        <!-- Racial Diversity -->
        <div id="racial-diversity">
            <label for="racial-diversity-slider">How much do you value racial diversity in a company on a scale from 1
                to
                10?</label>
            <input type="range" id="racial-diversity-slider" name="racial_diversity" min="1" max="10" step="1"
                oninput="updateSliderValue('racial-diversity-slider', 'racial-diversity-value')">
            <p id="racial-diversity-value">5</p>
        </div>

        <!-- Risk % -->
        <div id="risk">
            <label for="risk-slider">How much risk would you like to take on?</label>
            <input type="range" id="risk-slider" name="risk" min="10" max="100" step="1" value="10"
            oninput="updateSliderValue('risk-slider', 'risk-value')">
            <p><span id="risk-value">10</span>%</p>
        </div>

        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>
<script>
    function updateSliderValue(sliderID, valueID) {
        let value = document.getElementById(sliderID).value;
        document.getElementById(valueID).innerHTML = value;
    }
</script>