<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Conscious Capital</title>
    <link rel='icon' href='assets/img/favicon.ico' type='image/x-icon' sizes="16x16" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    <!-- Internal CSS -->
    <link rel="stylesheet" href="assets/css/style.css">


</head>
  <body>
    <!-- Navbar Section
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">Features</a>
              <a class="nav-link" href="#">Pricing</a>
              <a class="nav-link disabled">Disabled</a>
            </div>
          </div>
        </div>
      </nav> -->

    <!-- Landing Section -->
    <section class="landing" id="landing">
        <div class="container">
            <div class="row">
                <!-- Text -->
                <div class="col-md-6">
                    <div class="text">
                        <h1>Conscious Capital</h1>
                        <p>Invest in a better world.</p>
                    </div>
                    <div class="buttons">
                        <a href="#" class="btn btn-primary">Get Your Personalized Portfolio</a>
                    </div>
                </div>
                <!-- Image -->
                <div class="col-md-6">
                    <img src="assets/img/lakeforest.png" alt="landing">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="howitworks">
                        <p>Or Learn About Our Methodology</p>
                        <a href="#setup">
                            <div class="scroll-down"></div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- 6 Values -->
    <section class="setup" id="setup">
        <div class="container">
            <div class="text-header text-center">
                <h2>The Six Values</h2>
                <p>Through our questionare, we gather data to understand what you value 
                    in the stocks you invest in. Here is what we ask you to consider.</p>
            </div>
            <div class="items text-center m-auto p-auto">
                <div class="row">
                    <div class="col-md-4">
                        <div class="icons">
                            <img src="assets/img/leaf.png" alt="icons">
                        </div>
                        <div class="desc">
                            <h5>Environmental</h5>
                            <p>How much do you value a company caring about the natural world? This includes issues such as climate change, pollution, resource depletion, deforestation, and biodiversity loss.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icons">
                            <img src="assets/img/ppl.png" alt="icons">
                        </div>
                        <div class="desc">
                            <h5>Social</h5>
                            <p>How much do you value a company actively managing their local and national communities. Social criteria used in ESG analysis may include issues such as human rights, labor practices, product safety, customer privacy, and community relations.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icons">
                            <img src="assets/img/government.png" alt="icons">
                        </div>
                        <div class="desc">
                            <h5>Governance</h5>
                            <p>How much do you care about companies monitoring their internal structure? This may include issues such as board composition, executive compensation, shareholder rights, and risk management practices.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="icons">
                            <img src="assets/img/controversy.png" alt="icons">
                        </div>
                        <div class="desc">
                            <h5>Controversy</h5>
                            <p>
                                How much do you care about a company's involvement in controversial issues? This may include issues such as weapons, tobacco, alcohol, gambling, and fossil fuels.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icons">
                            <img src="assets/img/gender.png" alt="icons">
                        </div>
                        <div class="desc">
                            <h5>Gender Diversity</h5>
                            <p>
                                How important is it that a company is diverse with respect to gender? We evaluate companies based on the ratio of male and female executives.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icons">
                            <img src="assets/img/skin.png" alt="icons">
                        </div>
                        <div class="desc">
                            <h5>Racial Diversity</h5>
                            <p>
                                How important is it that a company is diverse with respect to race? We evaluate companies based on the proportion of minority employees.
                            </p>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </section>

    <!-- Information -->
    <section class="information" id="algorithm">
        <div class="container">
            <div class="row info-1">
                <div class="col-md-6">
                    <div class="text-information">
                        <h2>The Algorithm</h2>
                        <p>
                            We use a propritary algorithm to take your answers and compare it to our private database which analyzes stocks from the Standard
                            and Poor's 500 Index. The image on the left shows this data plotted with respect to three variables. 
                            We then select stocks that are closest to your answers in the multidimensional space.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="assets/img/dataimage.png" alt="boy">
                </div>
            </div>
        </div>
    </section>  

    <!-- Efficient Frontier -->
    <section class="allocation" id="allocation">
        <div class="container">
            <div class="row info-1">
                <div class="col-md-6">
                    <img src="assets/img/efficientfrontier.png" alt="boy">
                </div>
                <div class="col-md-6">
                    <div class="text-information">
                        <h2>How much to buy?</h2>
                        <p>
                            Once we have selected the stocks, we must decide how much of each to buy. This process
                            is known as asset or weight allocation. To determine the optimal allocation, we use the award-winning 
                            Markowitzian Theory, more specifically, the idea of an Efficient Frontier, shown on the left. We then use
                            Mean-variance optimization theory to find a portfolio made from your basket of stocks on the efficient frontier.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="copy">
                    &copy; 2023 Conscious Capital
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>