<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>pie</title>
        <style type="text/css">
            .chart {
                width: 100%;
                max-width: 300px;
            }
        </style>

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

    </head>

    <body>
        <div class="d-flex flex-row justify-content-center align-items-center">
            <div class="chart d-flex flex-column p-5">
                <canvas id="stocksPie"></canvas>  
            </div>
            <div class="stats">
                <div class="d-flex flex-column">
                    <h3>
                        Expected Returns:
                    </h3>
                    <h2>
                        {{return}}%
                    </h2>
                    <h3>
                        Estimated Volatility
                    </h3>
                    <h2>
                        {{risk}}%
                    </h2>
                    <h3>
                        Sharpe Ratio
                    </h3>
                    <h2>
                        {{sharpe}}
                    </h2>
                </div>
            </div>
    
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>  
    
            <script>
                var vals = JSON.parse("{{vals}}");
                var keys = Array.from("{{keys}}".replaceAll("&#39;", "").replaceAll("[", "").replaceAll("]", "").split(","));
                console.log(keys);
    
                // Data setup
                const stocks_data = {
                    labels: keys,
                    datasets: [{
                        label: '% of Portfolio',
                        data: vals,
                        borderWidth: 1
                    }] 
                };
    
                // Chart config
                const stocks_config = {
                    type: 'pie',
                    data: stocks_data,
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                };
    
                // Render chart
                const stocksPie = new Chart(
                    document.getElementById('stocksPie'),
                    stocks_config
                );
            </script>      
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center">
            <div class="buttons">
                <a href="./form" class="btn btn-primary">Retake Questionare</a>
            </div>   
        </div>
    </body>
</html>